@use '../styles/breakpoints.scss';

.points {
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 50%;
    top: 76%;
    transform: translate(-50%, -50%);
    width: max-content;
    z-index: 400;
  }
  
  .question-card-top {
    z-index: 99;
  }
  
  .answer-cards-container {
  z-index: 500;
  }
  
  .next-btn {
    z-index: 100;

    @include breakpoints.respond('small') {
      margin-top: -5rem;
    }
  }
  
  .card-container  {
  transform: scale(.80);
  transform-origin: center center;
  }
  
  .animation-start {
    &:nth-of-type(1) {
      animation: move-away-1 .5s ease forwards;
    }
    &:nth-of-type(2) {
      animation: move-away-2 .5s ease .7s both;
    }
    &:nth-of-type(3) {
      animation: move-away-3 .5s ease .7s both;
    }
    &:nth-of-type(4) {
      animation: move-away-4 .5s ease .7s both;
    }
    &:nth-of-type(5) {
      animation: move-away-5 .5s ease .7s both;
    }
    &:nth-of-type(6) {
      animation: move-away-6 .5s ease .7s both;
    }
    &:nth-of-type(7) {
      animation: move-away-7 .5s ease .7s both;
    }
  }
  
  .test:nth-of-type(3):hover {
      transform: translate(-50%, -50%)  rotate(0deg) scale(1.5);
  }
  
  .card-question {
      position: absolute;
      top: 50%;
      bottom: 50%;
      right: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all .5s ease;
  
     //FAR LEFT
      &:nth-of-type(3) {
        position: absolute;
        top: 50%;
        bottom: 50%;
        right: 50%;
        left: 0%;
        transform: translate(-50%, -50%) rotate(0deg);

        @include breakpoints.respond('small') {
          left: 3%;
      }
        
        &   {
          transform: translate(-50%, -50%) rotate(0deg) scale(1.2);
        }
      } 
  
      //LEFT TOP
      &:nth-of-type(6) {
        position: absolute;
        top: 30%;
        bottom: 50%;
        right: 50%;
        left: 25%;
        transform: translate(-50%, -50%) rotate(0deg);

        @include breakpoints.respond('small') {
            top: 15%;
            left: 20%;
        }

        & {
          transform: translate(-50%, -50%) rotate(0deg) scale(1.2);
        }      
      }
  
      //LEFT BOTTOM
      &:nth-of-type(5) {
        position: absolute;
        top: 70%;
        bottom: 50%;
        right: 50%;
        left: 25%;
        transform: translate(-50%, -50%) rotate(0deg);

        @include breakpoints.respond('small') {
            top: 85%;
            left: 20%;
        }
        & {
          transform: translate(-50%, -50%) rotate(0deg) scale(1.2);
        }
      }
  
      //RIGHT TOP
      &:nth-of-type(4) {
        position: absolute;
        top: 30%;
        bottom: 50%;
        right: 50%;
        left: 75%;
        transform: translate(-50%, -50%), rotate(0deg);

        @include breakpoints.respond('small') {
            top: 15%;
            left: 80%;
        }

        & {
          transform: translate(-50%, -50%) rotate(0deg) scale(1.2);
        }
      }
  
      //RIGHT BOTTOM
      &:nth-of-type(7) {
        position: absolute;
        top: 70%;
        bottom: 50%;
        right: 50%;
        left: 75%;
        transform: translate(-50%, -50%) rotate(0deg);

        @include breakpoints.respond('small') {
            top: 85%;
            left: 80%;
        }

        & {
          transform: translate(-50%, -50%) rotate(0deg) scale(1.2);
        }
      }
  
      //FAR RIGHT
      &:nth-of-type(2) {
        position: absolute;
        top: 50%;
        bottom: 50%;
        right: 50%;
        left: 100%;
        transform: translate(-50%, -50%);

        @include breakpoints.respond('small') {
          left: 97%;
      }

        & {
          transform: translate(-50%, -50%) rotate(0deg) scale(1.2);
        }
      }
    }
  
  .move-cards-away {
      position: absolute;
      top: 50%;
      bottom: 50%;
      right: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      @include breakpoints.respond('small') {
        opacity: 0;
      }
      
  
      &:nth-of-type(3) {
        position: absolute;
        top: 50%;
        bottom: 50%;
        right: 50%;
        left: 1%;
        transform: translate(-50%, -50%);
        transition: all .5s ease;
        
      } 
  
      &:nth-of-type(6) {
        position: absolute;
        top: 0%;
        bottom: 50%;
        right: 50%;
        left: 40%;
        transform: translate(-50%, -70%) scale(1);
        transition: all .5s ease;
  
        &:hover .scale-card {
          transform:  translate(-50%, -70%) scale(1.5);
        }
      }
  
      &:nth-of-type(5) {
        position: absolute;
        top: 50%;
        bottom: 50%;
        right: 50%;
        left: 17%;
        // animation: move-away-5 1s ease ;
        transform: translate(-50%, 20%);
        transition: all .5s ease;
  
        &:hover .scale-card {
          transform: scale(1.5);
        }
      }
  
      &:nth-of-type(4) {
        position: absolute;
        top: 50%;
        bottom: 10%;
        right: 50%;
        left: 50%;
        transform: translate(1%, 70%);
        transition: all .5s ease;
        
        &:hover .scale-card {
          transform: scale(1.5);
        }
      }
  
       &:nth-of-type(7) {
        position: absolute;
        top: 0%;
        bottom: 50%;
        right: 50%;
        left: 50%;
        transform: translate(90%, -50%);
        transition: all .5s ease;
       
        &:hover .scale-card {
          transform: scale(1.5);
        }
      }
  
      &:nth-of-type(2) {
        position: absolute;
        top: 10%;
        bottom: 50%;
        right: 50%;
        left: 70%;
        transform: translate(100%, -50%);
        transition: all 1s ease;
  
        &:hover .scale-card {
          transform: scale(1.5);
        }
      }
    }
  
    @keyframes move-away-3 {
      0% {
        top: 50%;
        bottom: 50%;
        right: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      } 100% {
        // top: 50%;
        // bottom: 50%;
        // right: 50%;
        // left: 20%;
        // transform: translate(-50%, -50%);
      } 
    }
  
    @keyframes move-away-2 {
      0% {
        top: 50%;
        bottom: 50%;
        right: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      } 100% {
        // position: absolute;
        // top: 50%;
        // bottom: 50%;
        // right: 50%;
        // left: 80%;
        // transform: translate(-50%, -50%);
        // animation: move-away-2 2s ease 2s both ;
        // transition: all 1s ease ;
      } 
    }
  
    @keyframes move-away-4 {
      0% {
        top: 50%;
        bottom: 50%;
        right: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      } 100% {
        // position: absolute;
        // top: 50%;
        // bottom: 50%;
        // left: 65%;
        // transform: translate(-50%, -20%);
        // animation: move-away-5 2s ease 2s both ;
        // transition: all 1s ease .10s;
      } 
    }
  
    @keyframes move-away-5 {
      0% {
        top: 50%;
        bottom: 50%;
        right: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      } 100% {
        // top: 50%;
        // bottom: 50%;
        // right: 50%;
        // left: 35%;
        // transform: translate(-50%, -20%);
      } 
    }
  
    
    @keyframes move-away-6 {
      0% {
        top: 50%;
        bottom: 50%;
        right: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      } 100% {
        // top: 30%;
        // bottom: 50%;
        // right: 50%;
        // left: 35%;
        // transform: translate(-50%, -50%);
      } 
    }
  
    @keyframes move-away-7 {
      0% {
        top: 50%;
        bottom: 50%;
        right: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      } 100% {
        // position: absolute;
        // top: 30%;
        // bottom: 50%;
        // right: 50%;
        // left: 65%;
        // transform: translate(-50%, -50%);
        // animation: move-away-7 2s ease 2s both ;
        // transition: all 1s ease .4s;
      } 
    }
  
    @keyframes move-away-1 {
      0% {
        transform: scale(34);
      } 100% {
        // transform: scale(1);
        // position: absolute;
        // top: 50%;
        // bottom: 50%;
        // right: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
      } 
    }
  
  
  
    @keyframes empty-scene {
      0% {
        position: 0;
      } 
      100% {
        top: -200%;
      }
    }
  
    .winning-card {
  &-answer {
    position: absolute;
    top: 50%;
    bottom: 50%;
    right: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
    z-index: 200;
    transition: all 1s ease;

    @include breakpoints.respond('small') {
      left: 72%;
    }
  }
  
  &-question {
    position: absolute;
    top: 50%;
    bottom: 50%;
    right: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    z-index: 200;
    transition: all 1s ease;

    @include breakpoints.respond('small') {
      left: 28%;
    }
  }
  }
  
  .new-canvas {
      animation: empty-scene 1s ease forwards;
    }

    .card-mobile {

      @include breakpoints.respond('small') {
          transform: translate(-50%, -50%) scale(.5) !important;          
      }
    }

    .next-btn {
      position: absolute;
      top: 85%;
      bottom: 0%;
      left: 50%;
      right: 50%;
      transform: translate(-50%, -50%);

      @include breakpoints.respond('small') {
        top: 80%;
      }
    }
  