@use '../styles/breakpoints.scss';
@use '../styles/rules.scss';
@use './card-game.scss';
@use './game-finish.scss';


@font-face {
    font-family: "Aveny";
    src: url("../assets/AvenyTLBU-Medium.otf");
}

h1, h2, h3, .text-h2, .title-points, .v-app-bar-title {
    font-family: "Aveny" !important;
}

.text-body-1 {
    font-size: 1.2rem !important;
}

.footer {

    display: flex;
    align-items: center;
    justify-content: center;
    
    @include breakpoints.respond('medium') {
        flex-direction: column;
    }

    &-img {
        height: 6rem;
        margin-bottom: 0rem;
        
        &:not(:last-child) {
            margin-left: 3rem; 
            margin-bottom: 0rem;
        }

        @include breakpoints.respond('medium') {
            width: 12rem;
          

            &:not(:last-child) {
                margin-left: 0rem;
                margin-bottom: 6rem;
            }
        }
        @include breakpoints.respond('small') {
            width: 90%;

            &:not(:last-child) {
                margin-left: 0rem;
                margin-bottom: 3rem;
            }
        }
    }
}

