@font-face {
    font-family: "Aveny";
    src: url("../assets/AvenyTLBU-Medium.otf");
}

h2, h1, .text-h2, .v-app-bar-title {
    font-family: "Aveny" !important;
}



.text-body-1 {
    font-size: 1.2rem !important;
}

