@use '../styles/breakpoints.scss';
@use '../styles/rules.scss';
@use './card-game.scss';


@font-face {
    font-family: "Aveny";
    src: url("../assets/AvenyTLBU-Medium.otf");
}

h1, h2, h3, .text-h2, .title-points, .v-app-bar-title {
    font-family: "Aveny" !important;
}

.text-body-1 {
    font-size: 1.2rem !important;
}

.footer .footer-img {
    height: 6rem;
    @include breakpoints.respond('medium') {
        width: 6rem;
    }
    @include breakpoints.respond('small') {
        width: 50%;
    }
}

